@use "./nav.scss";
@use "./mixin.scss" as *;
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
    scroll-behavior: smooth;
    background-color: var(--brand-color);
}
ul {
  list-style: none;
}
/* For WebKit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:linear-gradient(rgba(17, 7, 255 ), rgba(0, 224, 255 ));;
  }
  
  /* For Firefox */
  ::-moz-scrollbar {
    width: 10px;
  }
  
  ::-moz-scrollbar-thumb {
    background:linear-gradient(rgba(17, 7, 255 ), rgba(0, 224, 255 ));;
  }
  
.bg-cover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
    max-width: 100%;
}
.btn-brand:hover, .btn-brand:focus {
  background-color: var(--color-brand2);
  color: var(--color-base);
  border-color: var(--color-brand2);
}
.btn-brand {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  color: white;
  font-family: auto;

}
.btn{
  padding: 12px 28px;
}
  


:root {
  --brand-color:#2C3E50;
  --orange-color: #E74C3C;
  --navbar-width: 200px;
}
.text-brand {
  color: var(--brand-color);
}
.bg-brand {
  background-color: var(--brand-color);
}
h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.196);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}


@media (max-width:992px) {
  .navbar {
    width: 100%;
  }

}

